<h1>Descriptive Statistics</h1>

- looking at job_id 4257, which describes the MIZZOU topic

<h3>Setup The Data</h3>
<p>Below we are going to do a basic set up of the notebook as far as importing libraries, and starting the MySQL connection goes.  Additionally, I am going to save the data to a CSV so I can avoid hitting the massive MySQL database as it is extremely slow.</p>

In [21]:
import pymysql as mdb
import pandas as pd
import numpy as np
from collections import Counter

connection = mdb.connect('128.206.116.195', 'tg4_ro', '?3stEt7!3hUbRa-R', 'tw4_db')
csv_file = 'output/4257_dump.csv'

In [40]:
sql = "SELECT * FROM tweet WHERE job_id = 4257"

results = pd.read_sql_query(sql, connection, parse_dates=['created_at'])

In [41]:
results.to_csv(csv_file, index=False)

In [56]:
types = {
    'tweet_id_str': 'object',
    'job_id': 'int64',
    'text': 'object',
    'from_user': 'object',
    'from_user_id_str': 'object',
    'from_user_name': 'object',
    'from_user_fullname': 'object',
    'from_user_followers': 'int64',
    'from_user_following': 'int64',
    'from_user_favorites': 'int64',
    'from_user_tweets': 'int64',
    'from_user_timezone': 'object',
    'to_user': 'object',
    'to_user_id_str': 'object',
    'to_user_name': 'object',
    'source': 'object',
    'location_geo': 'object',
    'location_geo_0': 'float64',
    'location_geo_1': 'float64',
    'iso_language': 'object',
    'analysis_state': 'int64',
}

# df = pd.read_csv(csv_file, dtype=types, parse_dates='created_at')
df = results

<h2>How many tweets are in the collection?</h2>

In [57]:
print("There are " + str(len(df.index)) + " row in the collection.")

There are 748811 row in the collection.
There are 748811 row in the collection.

<h2>When do they start?</h2>

In [58]:
df.sort_values('created_at')
df.head(1)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_followers,from_user_following,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
0,664322875084640256,4257,2015-11-11 06:04:50,@YikYakApp how are you handling the terrorist ...,16139420,16139420,BeLeather,Be Leather,642,490,...,Pacific Time (US & Canada),1019043228,1019043228,YikYakApp,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0

<strong>Mizzou tweets</strong>

The first tweet contained in the Mizzou collection was from the user @BeLeather on 11/11/2015, this Tweet was interesting as it was Tweeted to another user (@YikYakApp) as indicated in the dicitonary above.

<h2>When do they end?</h2>

In [59]:
df.tail(1)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_followers,from_user_following,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
748810,723260087096233985,4257,2016-04-21 21:20:16,Low-level officials face indictment in #Flint ...,494626920,494626920,IYSSE_US,IYSSE,724,1331,...,Atlantic Time (Canada),None,None,None,"<a href=""http://www.hootsuite.com"" rel=""nofoll...",None,NaN,NaN,en,0

<strong>Mizzou Tweets</strong>

The most recent Mizzou tweet was from the user @IYSSE_US also on 4/21/2016.  This one is particuarly interesting as the content of the tweet doesn't actually have anything to do with Mizzou, and after following the link contained in the tweet, it doesn't clear up why the #MIZZOU hashtag was included.

<h2>What is the trend for tweet volume?</h2>

<p>To look at the tweet volume, we will need to figure out the best way to group the data.  Grouping by month and year should serve as a good indicator.</p>

In [60]:
group = {}

for index, tweet in df.iterrows():
    timestamp = pd.Timestamp(tweet.created_at)
    year = timestamp.year
    month = timestamp.month
    try:
        group[str(year) + '-' + str(month)].append(tweet)
    except KeyError:
        group[str(year) + '-' + str(month)] = []
        group[str(year) + '-' + str(month)].append(tweet)

<h2>If you look at the most common words over the lifetime of the search, do you notice any particular trends associated with those words?</h2>

<p>Below aims to look at the overall picture of the 10 most common words mentioned over the lifetime of the collection.  This will set up the process of actually going through and viewing how words change and the trends assocaited with them.</p>

<p>As a side note, a lot of tweet's didn't actually contain any values and this introduced a problem when counting words.  The tweets without values would appear as "NaN" in the frequency list, so I had to go back and check to make sure that the tweets actually contianed a body.</p>

In [61]:
words = []
for index, tweet in df.iterrows():
    text = str(tweet['text']).lower()
    if len(text) > 0 and text != 'nan':
        for word in text.split():
            words.append(word)

Counter(words).most_common()[:10]

[('#mizzou', 598620),
 ('rt', 554665),
 ('the', 339603),
 ('to', 229735),
 ('a', 201197),
 ('of', 176879),
 ('is', 166431),
 ('at', 134669),
 ('and', 124937),
 ('in', 124303)]

<h2>What external events might correspond with the differences in the trends of most common words?</h2>

<h2>What hashtags show up as most prominent in each month of the lifecycle?</h2>

<h2>Which twitter users are the most mentioned?</h2>

<h2>How frequently is each user mentioned during each month of the lifecycle?</h2>

<h2>What is the relationship between the volume of tweets you selected and the volume of tweets for other collections in the data set?<h2>