<h1>Descriptive Statistics</h1>

- looking at job_id 4257, which describes the MIZZOU topic

<h3>Setup The Data</h3>
<p>Below we are going to do a basic set up of the notebook as far as importing libraries, and starting the MySQL connection goes.  Additionally, I am going to save the data to a CSV so I can avoid hitting the massive MySQL database as it is extremely slow.</p>

In [1]:
import pymysql as mdb
import pandas as pd

connection = mdb.connect('128.206.116.195', 'tg4_ro', '?3stEt7!3hUbRa-R', 'tw4_db')

In [ ]:
sql = "SELECT * FROM tweet WHERE job_id = 4257"
csv_file = 'output/4257_dump.csv'

results = pd.read_sql_query(sql, connection, parse_dates=['created_at'])

In [ ]:
results.to_csv(csv_file)

<h2>How many tweets are in the collection?</h2>

<h2>When do they start?</h2>

<strong>Mizzou tweets</strong>

The first tweet contained in the Mizzou collection was from the user @BeLeather on 11/11/2015, this Tweet was interesting as it was Tweeted to another user (@YikYakApp) as indicated in the dicitonary above.

<h2>When do they end?</h2>

<strong>Mizzou Tweets</strong>

The most recent Mizzou tweet was from the user @IYSSE_US also on 4/21/2016.  This one is particuarly interesting as the content of the tweet doesn't actually have anything to do with Mizzou, and after following the link contained in the tweet, it doesn't clear up why the #MIZZOU hashtag was included.

<h2>What is the trend for tweet volume?</h2>

<h2>If you look at the most common words over the lifetime of the search, do you notice any particular trends associated with those words?</h2>

In [ ]:
from collections import Counter

# select all of the tweets from each job_id
results = []
with connection.cursor(mdb.cursors.DictCursor) as cursor:
    sql = "SELECT * FROM tweet WHERE job_id = 4257"
    cursor.execute(sql, (job_id,))
    results = cursor.fetchall()
        
# the tweets have been loaded into the results list, iterate the list and add all of the strings to a list
tweets = []
for tweet in results:
    tweets.append(tweet['text'])
        
# now that we have all of the tweets we want to look at the frequency of the words
for text in tweets:
    for word in text.split():
        words.append(w)

print(Counter(words).most_common()[:10])

<h2>What external events might correspond with the differences in the trends of most common words?</h2>

<h2>What hashtags show up as most prominent in each month of the lifecycle?</h2>

<h2>Which twitter users are the most mentioned?</h2>

<h2>How frequently is each user mentioned during each month of the lifecycle?</h2>

<h2>What is the relationship between the volume of tweets you selected and the volume of tweets for other collections in the data set?<h2>